<%- include("partials/header") -%>

<link rel="stylesheet" href="/stylesheets/home.css">

<div class="main">
    <a class="login_btn" href="/auth/discord">Login w/ Discord</a>
</div>

<%- include("partials/footer") -%>